DEFAULT_ADMIN_USERNAME=your_admin_username
DEFAULT_ADMIN_PASSWORD=your_admin_password
SESSION_USER_KEY=your_session_user_key

# Opções: DEVELOPMENT, PRODUCTION
ENV_MODE=DEVELOPMENT

# Configurações do banco de dados
DB_NAME=your_database_name.db