DEFAULT_ADMIN_USERNAME=your_default_admin_name
DEFAULT_ADMIN_PASSWORD=your_default_admin_pass
SESSION_USER_KEY=your_user_key

# Opções: DEVELOPMENT, PRODUCTION
ENV_MODE=env

# Configurações do banco de dados
DB_NAME=your_db_name.db

# Opções: tcp, serial
TRANSPORT_MODE=opt

# Configurações do Servidor de E-mail
SMTP_HOST=smtp.host.com
SMTP_PORT=port
SMTP_USER=email_sender@email.com
SMTP_PASS=app key
SMTP_TO=email_reciever@email.com
