#!/bin/bash

# Navega até o diretório do projeto
cd /caminho/para/seu/projeto

# (Opcional) Ativa o ambiente virtual se você usar venv
source venv/bin/activate

# Executa o banco e, se der sucesso (código 0), roda o Streamlit
python -m hydrotwin.db.init_db && streamlit run app.py --server.port 8501 --server.address 0.0.0.0